#swagger-ui {
    max-width: 800px;
    margin: auto;
}

.opblock-summary-method {
    border-color: #000000 !important;
    background: #000000 !important;
}


p.cssHint {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    background-color: yellow;
}

.cssUserNamePassword{

    font-size:12pt;
    font-weight:bold;

}